.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  font-size: 12px;
}

.error-page .container {
  text-align: center;
}

.error-page .container .title {
  font-size: 2.4em;
}

.error-page .container .message {
  font-size: 1.6em;
}
