body {
  margin: 0;

  overflow-x: hidden;
}

body header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 50px;

  background-color: #333333;
}

body header .logo {
  margin: 0 10px 0 0;
  padding: 5px;
  color: #ffffff;
}

body header .menu {
  margin: 0 10px 0 0;
}

body header .menu button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 5px;
  font-size: 1.5rem;
}

body header .menu button:hover {
  color: #ffffff;
}

.dragging {
  opacity: 1;

  transform: rotate(30);

  border: 1px solid black;
  background-color: skyblue;
}

body section {
  margin-top: 10px;
}

.kanban {
  display: flex;
  flex-direction: row;

  overflow-x: auto;

  height: calc(100vh - 56px);
}

.kanban .column {
  width: 400px;
  margin: 10px;
  border: 1px solid #000000;
  padding: 5px;
  border-radius: 10px;

  background-color: #cccccc;
}

.kanban .column .head {
  width: inherit;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.kanban .column .head .left {
  display: flex;
  justify-content: start;
  align-items: center;
}

.kanban .column .head .left .count {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: 1.5rem;
  color: #ffffff;
  background-color: #444444;

  text-align: center;
  user-select: none;
  font-size: 0.8rem;
}

.kanban .column .head .left h1 {
  margin: 0 0 0 5px;
  font-size: 1rem;
  user-select: none;
}

.kanban .column .head div.buttons {
  margin-right: 5px;
  user-select: none;
}

.kanban .column .head div.buttons button {
  width: 20px;
  height: 20px;
  padding: 0px;
}

.kanban .column ul {
  list-style: none;
  padding: 0;
  margin: 0;

  overflow-y: auto;
}

.kanban .column ul li {
  /* block drag */
  user-select: none;

  width: inherit;
  height: inherit;

  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #000000;
  position: relative;
  word-break: break-all;

  background-color: #ffffff;
}

.kanban .column ul li.start_point {
  height: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  border: none;
}

.kanban .column ul li.temp_space {
  opacity: 0.5;
}

.kanban .column ul li button.close {
  width: 20px;
  height: 20px;
  padding: 0px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.kanban .column ul li section.content {
  margin: 10px 30px 10px 10px;
}

.kanban .column footer {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.kanban .column footer p {
  margin: 2px;
}

.kanban .column footer p.comment {
  margin-left: 2px;
  color: #444444;
  font-style: italic;
}

.kanban .column footer p.writter {
  color: #000000;
}

.hover {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;

  transform: rotate(-5deg);
}

.hover li {
  /* block drag */
  user-select: none;

  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #000000;
  position: relative;
  word-break: break-all;

  background-color: #ffffff;
}

.hover li.standard {
  height: inherit;
}

.hover li button.close {
  width: 20px;
  height: 20px;
  padding: 0px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.hover li section.content {
  margin: 10px 30px 10px 10px;
}

.hover li footer {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hover li footer p {
  margin: 2px;
  color: #444444;
}

.hover li footer p.writter {
  color: #000000;
}

/* 칸반 > 칼럼 > 새로운 노트 생성 */

.kanban .column form {
  margin: 10px 10px 0 10px;
  border: 1px solid #000000;
  padding: 5px;
  border-radius: 10px;

  background-color: #ffffff;
}

.kanban .column form.hidden {
  display: none;
}

.kanban .column form textarea {
  width: calc(100% - 6px);
  height: 40px;
  resize: vertical;
}

.kanban .column form div.buttons {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.kanban .column form div.buttons button {
  width: calc(50% - 10px);
  height: 30px;
  padding: 0px;
  margin: 5px;
  border: solid 1px #000000;

  border-radius: 7px;

  transition: all 0.2s ease;
}

.kanban .column form div.buttons button:active {
  outline: none;
}

.kanban .column form div.buttons button:focus {
  outline: 0;
}

.kanban .column form div.buttons button.create {
  background-color: #2ea44f;
  color: #ffffff;
}

.kanban .column form div.buttons button.create:hover {
  background-color: #2c8f48;
}

.kanban .column form div.buttons button.create:active {
  background-color: #298643;
}

.kanban .column form.disable div.buttons button.create {
  background-color: #307c46;
  color: #dddddd;
}

.kanban .column form.disable div.buttons button.create:hover {
  background-color: #307c46;
}

.kanban .column form.disable div.buttons button.create:active {
  background-color: #307c46;
}

.kanban .column form div.buttons button.cancel {
  background-color: #eeeeee;
  color: #000000;
}

.kanban .column form div.buttons button.cancel:hover {
  background-color: #dddddd;
}

.kanban .column form div.buttons button.cancel:active {
  background-color: #cccccc;
}

.kanban .column form div.disable {
  width: 100%;

  display: flex;
  justify-content: space-between;
}
