/* modal base */

.modal-container {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.modal-container:focus {
  outline: 0;
}

.modal {
  display: none;
  margin: 10% auto 0 auto;
  width: 400px;
  overflow: auto;
  box-sizing: border-box;
  border: 1px solid #939496;
  background-color: #fff;
  font-size: 16px;
  user-select: none;
}

.modal button {
  margin: 0;
  padding: 6px 8px;
  font-size: 1em;
  transition: all 0.2s ease;
  border: 1px solid #939496;
  border-radius: 4px;
  background: #efefef;
  cursor: pointer;
}

.modal button:focus {
  outline: 0;
}

.modal .header {
  position: relative;
  padding: 20px;
  background: #f6f8fa;
  border-bottom: 1px solid #939496;
}

.modal .header .title {
  font-size: 1.2em;
  font-weight: 700;
}

.modal .header .btn-close {
  position: absolute;
  top: 18px;
  right: 19px;
  font-size: 1.3em;
  color: #acacac;
  background: #f6f8fa;
  border: 0;
  padding: 0;
  margin: 0;
}

.modal .header .btn-close:focus {
  outline: 0;
}

.modal .header .btn-close:hover {
  color: #8d8f90;
}

.modal .content {
  padding: 20px;
}

.modal .content .message {
  font-weight: 700;
}

.modal .content .btn-save {
  background-color: #56ad56;
  border: 1px solid #429642;
  color: #fff;
}

.modal .content .btn-save:hover {
  background-color: #3e8b3e;
  border-color: #377c37;
}

.modal .content .btn-save:disabled {
  border: 1px solid #aaa;
  background-color: #e4e5e6;
  color: #aaa;
  cursor: not-allowed;
}

.modal .content .input-field {
  display: block;
  width: 100%;
  font-size: 1em;
  padding: 8px 6px;
  margin: 14px 0;
  box-sizing: border-box;
  transition: border 0.24s ease;
  border: 1px solid rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal .content .input-field:focus {
  outline: 0;
}

/* edit-note-modal */

.edit-note-modal .content textarea {
  max-width: 100%;
  height: 160px;
  padding: 12px;
  margin: 14px 0;
}

/* delete-note-modal */

.delete-note-modal .content .message {
  font-weight: 500;
}

.delete-note-modal .content .button-box {
  text-align: right;
  margin-top: 14px;
}

.delete-note-modal .content .button-box button {
  width: 90px;
  padding: 6px 0px;
  font-size: 1em;
}

.delete-note-modal .content .button-box button:hover {
  background-color: #dfdfdf;
}

.delete-note-modal .content .button-box button:first-child {
  margin-right: 20px;
}
